nav{
  width: 100vw;
}

.navbar-dark.bg-custom {
  background: linear-gradient(to right, #602040, #4d004d, #1a001a);
}

.navbar-brand {
  font-size: 3vh;
  font-weight: 500;
  margin-left: 3rem; /* Added left margin for large screens */
}

.nav-link {
  font-size: 2vh;
  padding: 1vh;
  color:rgb(209, 207, 207);
  transition: transform 0.3s ease, color 0.3s ease;
  margin-right: 3vh; /* Added spacing between nav items */
}

.nav-link:hover,
.nav-link.active {
  transform: scale(1.05);
  
  color: #f5c504 !important; /* Yellow color on hover and when active */
}

@media (max-width: 768px) {
 
  .navbar-brand {
    font-size: 2.5vh;
    margin-left: 1.5rem; /* Increased font size for small screens */
  }

  .nav-link {
    font-size: 2.5vh; /* Increased font size for small screens */
    margin-left: 1.75rem; /* Adjusted spacing between nav items for small screens */
  }
}