.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* styles.css */
/* styles.css */
.home-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

.homeContent,
.homeImg {
  box-sizing: border-box;
}

.homeContent {
  width: 60%;
  margin-left: 10vh;
  margin-top: 11vh;
}

.homeImg {
  width: 40%;
  text-align: right;
  margin-right: 10vh;
  margin-top: 11vh;
}

/* Media query for small screens */
@media (max-width: 768px) {
  .home-wrapper {
    flex-direction: row; /* Stack items vertically */
    align-items: center;
    justify-items: center;
  }
}